/*:root {
  --primary-color :  rgba(242, 238, 236, 0.875);
  --navBar-color :  rgb(212, 167, 55);
}*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}

body {
  overflow-x: hidden;
}

.background {
  background-color: var(--primary-color);
}

.footerClass {
  right : 5px;
  bottom : 0px ;
  position : fixed;
  font-size : small;
}

.pointer {
  cursor: pointer;
}

.default {
  cursor: default;
}

.serviceFont{
  font-size: x-large;
}

.gapPadding {
  padding-top: 5px;
}

.requiredField {
  color: red;
}

/* NAVBAR STYLE - START */

.device-connected {
  animation: glowingGreen 1300ms infinite;
}

.device-disconnected {
  animation: glowingRed 1300ms infinite;
}

@keyframes glowingGreen {
  0% {
    border-radius: 50%;
    background-color: #2ba805;
    box-shadow: 0 0 10px #2ba805;
  }
  50% {
    border-radius: 50%;
    background-color: #49e819;
    box-shadow: 0 0 20px #49e819;
  }
  100% {
    border-radius: 50%;
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
}

@keyframes glowingRed {
  0% {
    border-radius: 50%;
    background-color: #ba0808;
    box-shadow: 0 0 10px #ba0808;
  }
  50% {
    border-radius: 50%;
    background-color: #ff0707;
    box-shadow: 0 0 20px #ff0707;
  }
  100% {
     border-radius: 50%;
    background-color: #ba0808;
    box-shadow: 0 0 5px #ba0808;
  }
}

/* LEAD SELECTION BLOCK - START */
.leadClass {
  float : right;
  margin-right : 10px;
}

.leadStyle{
  font-weight: bold;
  font-size: 24px;
  vertical-align: -webkit-baseline-middle;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #909394;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #9513999e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #941399;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* LEAD SELECTION BLOCK - END */

/* NAVBAR STYLE - END */

/* SPINNER STYLE - START */

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.492);
}

.spinner {
  bottom: 50%;
  position: absolute;
  color: whitesmoke;
}

/* SPINNER STYLE - END */

/* PLOT BLOCK STYLE - START */

#plotBlock {
  width: 100%;
  height: 100%;
  display: none;
  padding-top: 5px;
  text-align: -webkit-center;
}

#connectionBlock {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  font-size: 38px;
  width: 155px;
  overflow-x: visible;
  cursor: default;
  padding: 12px 0;
  cursor: pointer;
  display: none;
}

#serviceBlock {
  width: 72%;
  display: none; 
  text-align: -webkit-center;
  background-color: rgba(197, 186, 186, 0.858);;
}

svg {
  margin-top: -4px;
  margin-right: 40pt;
  margin-left: 20pt;
}

.rightBorder {
  border-right: solid;
  text-align-last: center;
}

.leftBorder {
  border-left: solid;
}

.hideButton {
  display: none !important;
}

#infomationBlock {
  display: none !important;
}

#progressBlock {
  width: 72%;
  display: none;
}

#progressBar {
  display: none !important;
  background-color: black;
}

.progress {
  border: solid 1px;
  background-color: transparent !important;
}

/* PLOT BLOCK STYLE - END */

/* TOASTER STYLE - START */

.toast-bg-danger {
  background-color: rgb(224, 38, 17) !important;
}

.toast-bg-success {
  background-color: rgba(127, 224, 17, 0.948) !important;
}

/* TOASTER STYLE - END */

/*PDF MODEL STYLE - START */
.modal-fullscreen {
  background-color: rgba(0,0,0,.8);
}

.modal-fullscreen .modal-dialog {
  margin: 15px 60px;
  max-width: 100%;
  height: auto;
  max-height: none;
}

.modal-fullscreen .modal-content {
  height: auto;
  border: none;
  border-radius: 0;
}

.btn-close-custome {
  background: transparent;
  border: none;
  color: #333;
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem;
  z-index: 999;
}

.btn-close-custome:hover {
  color: #999;
}

/*PDF MODEL STYLE - END */

@media (min-width: 320px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 100% !important; 
  }  
}

@media (min-width: 375px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 100% !important; 
  }
}

@media (min-width: 425px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 100% !important; 
  } 
}

@media (min-width: 768px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 100% !important; 
  }
}

@media (min-width: 1024px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 100% !important; 
  } 
}
  
@media (min-width: 1440px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 85% !important; 
  }
}

@media (min-width: 2560px) {
  .container, .container-lg, .container-md, .container-sm, .contredainer-xl, .container-xxl {
    max-width: 90% !important; 
  }
}

#infoBlockWithOutGraph{
  display: none;
}

.sliderLableStyle{
  font-weight: bold;
  font-size: 12px;
  vertical-align: -webkit-baseline-middle;
}

/*.rounded-div {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #06ddf5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}*/

.centered-text {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.leadInfoContainer{
  display: flex;
  height: 37.6px;
  cursor: default;
  border: solid 1px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

/* .dynamicIslandContainer{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
} */























body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('watermark.png') center/50% no-repeat;
  opacity: 0.2;
  z-index: -1;
}
/* Style for the header */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #091540;
  height:60pt
}

/* Style for the logo */
.logo img {
  max-height: 70pt;
  padding: 15pt;
}

/* Style for the header title */
.header-title {
color: #A226A2;
  text-align: center;
  flex-grow: 1;
  margin-right: 75pt;
  font-size: 25pt;
  font-family: "poppins", sans-serif;
  font-weight: bold;
}
.section-title{
  font-size: 20pt;
  font-weight: 600;
  background-color: #DEDEDE;
  width: 100%;
  height: 25pt;
}
.title{
  color: #081791;
  font-weight: bold;
}
h6{
  padding: 5pt;
}
.patientinfo{
  height: 27%;/*120pt;*/
  background-color: transparent;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.2s;
  margin: 1% 20pt 1% 20pt;
}
.patientinfo:hover {
  background-color: transparent; /* Light gray background on hover */
  transform: scale(1.02); /*Slight scale increase on hover */
}
.vitals{
  height: 27%;/*120pt;*/
  background-color: transparent;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.2s;
  margin: 1% 20pt 1% 20pt;
}
.vitals:hover {
  background-color: transparent; /* Light gray background on hover */
  transform: scale(1.02); /*Slight scale increase on hover */
}
.Symptoms{
  height: 27%;/*120pt;*/
  background-color: transparent;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.2s;
  margin: 1% 20pt 1% 20pt;
}
.Symptoms:hover {
  background-color: transparent; /* Light gray background on hover */
  transform: scale(1.02); /*Slight scale increase on hover */
}
.footer{
  background-color: transparent;
  height: 50pt;
  display: flex;
  justify-content: space-around;
  margin-top: 2%; /*15pt;*/
}
.field-row1{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2%; /*25pt*/
}
.field-row2{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2%; /*25pt;*/
}
.button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  background-color: #007BFF;
  color: white;
}
.button:hover{
  background-color: #0056b3;
}
.field input[type="text"],.field input[type="date"],.field input[type="number"]{
  border: none;
  border-bottom: 2px solid #C1BCBC;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  transition: border-color 0.3s;
  width: 190pt;
}
.field input[type="text"]:focus, .field select:focus {
  border-color: #007BFF; /* Blue border on focus */
}
.field input[type="number"]:focus, .field select:focus {
  border-color: #007BFF; /* Blue border on focus */
}
.field input[type="date"]:focus, .field select:focus {
  border-color: #007BFF; /* Blue border on focus */
}
.address input[type="text"]{
  width:394pt;  /*385pt*/
}
.BP input[type="number"]{
  width:88pt
}
.extra input[type="text"]{
  width:377pt
}
